extends ../shared/layout
block main-content
  h1 Add admin
  ul
    each val in users
      li
        h2= val.username

        if (currentUser)
          if (currentUser.roles.indexOf('Admin') > -1)
            form(method="post" action="/admins/update")
              input(type="hidden" name="id" value= val._id)
              input(type="submit" value="Make admin")